<!DOCTYPE html>
<html>
	<head>
		<title>Olga Media</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico?">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<header>
			<div class="middle">
				<a id="logo" href="/" rel="home" title="Olga Media"><img src="img/olga_media_logo.svg" alt="Olga Media"></a>

				<nav>
					<a href="#contact">Contact</a>
					<a href="#events">Events</a>
					<a href="#clientLogos">People</a>
					<a href="#banner">Services</a>
				</nav>
			</div>
		</header>
		
		{{ content }}

		<footer>
			<div class="middle ft">
				<div id="contact">
					<p id="address">{{ site.data.contact.address }}</p>
					<p id="phone">{{ site.data.contact.phone }}</p>
					<p id="email">{{ site.data.contact.email }}</p>
				</div>
				<div id="share">
					<a href="http://pinterest.com/pin/create/button/?url=www.olgamedia.com&description=Olga Media" target="_blank"><img src="img/pinterest.svg"/></a>
					<a href="https://plus.google.com/share?url=www.olgamedia.com" target="_blank"><img src="img/google-plus.svg"/></a>
					<a href="http://twitter.com/share?text=Olga Media&url=www.olgamedia.com&via=olga_media" target="_blank"><img src="img/twitter.svg"/></a>
					<a href="http://www.facebook.com/sharer.php?u=www.olgamedia.com" target="_blank"><img src="img/facebook.svg"/></a>
				</div>
			</div>
		</footer>
	</body>
	<script async src="js/slider.js"></script>
	<script async src="js/calendar.js"></script>
</html>
